# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/
*.pkl
*.db

# Node
node_modules/
frontend/build/
.node/

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
